.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.encabezado>h1{
    font-size: 15px;
    display: flex;
    flex-direction: row;
}

.word1{
    color: blue;
}

.word2{
color: pink;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu select{
    border: none;
    color: aqua;
    font-size: 15px;
    
}

.header-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    color: aquamarine;
    font-size: 15px;
}

footer button {
    background-color: pink; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    margin: 10px; 
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer button:first-child {
    border-radius: 20px; 
}

footer button:last-child {
    border-radius: 50%; 
}

@media (max-width: 480px) {
    .menu {
        background-color: blue;
        transition: background-color 2s linear;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 200px;
        background-color: transparent;
        padding: 20px;
        box-sizing: border-box;
    }
}
